- meta :title => "medifast.com.ua Клиника Медифаст. Отправить резюме в клинику. Стационар, поликлинические услуги, лаборатория, Узи.", :description => "medifast.com.ua Отправить резюме в клинику Медифаст. В клинике принимают врачи Педиатр, Уролог, Терапевт – кардиолог, Аллерголог, Дерматолог, Невролог, Хирург, Эндокринолог, ЛОР, Гастроэнтеролог, Ортопед-травматолог, Иммунолог, Гинеколог, Дневной стационар, УЗИ диагностика, Лаборатория, Услуга вызов врача на дом, Семейный врач"
%section.content-section.about
  .section-wrapper
    %h2.section-heading
      Ответ на вакансию клиники Медифаст
    .left-column
      %p.paragraph
        Этот сервис мы разработали для Вашего удобства. Вы можите ответить на вакансию клиники Медифаст на нашем сайте.
      %p.paragraph
        Для этого необходимо заполнить свои контактные данные, Ваше имя, номер телефона и адрес электроной почты. Ваше резюме напишите в поле резюме.
    .right-column
      %p.paragraph
        Так же необходимо выбрать вакансию на которую вы претендуете. Более детальней о вакансиях клиники, смотрите в разделе
        = link_to "вакансии", vacansies_path, class: "link login"
      %p.paragraph
        После отправки Ваших данных, администраторы клиники Медифаст, ответят Вам в ближайшее рабочее время. Рабочее время : Пн.- Пт. с  7-00 до 18-00 ; Сб. с 8-00 до 14-00; Вс. - выходной.
%section.content-section.contact
  .section-wrapper
    .left-column
      %h1.section-heading
        Ответ на вакансию
      %h2.sub-heading
        Введите Ваши данные
      %p.paragraph
        Поля со зведочкой обязательные для заполнения
    #contact-form.right-column

      = render "answers/form"
