<p>Добрый день <%= @resource.email %>!</p>

<p>На сайте клиники Медифаст был получен запрос на смену Вашего пароля, если это сделали Вы перейдите по этой ссылке</p>

<p><%= link_to 'Сменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если этого Вы не делали, можите удалить это сообщение.</p>
<p>Ваш пароль останеться тем же пока Вы не перейдете по ссылке и не измените его.</p>
