<p>Добрый день <%= @resource.email %>!</p>

<p>Ваш аакаунт был заблокирован, из-за ограничения количества вводимого пароля.</p>

<p>Перейлите по ссылке ниже для разблокировки аккаунта</p>

<p><%= link_to 'Разблокировать аккаунт', unlock_url(@resource, unlock_token: @token) %></p>
