%section.main-content-section.share-decisions.footer
  .section-wrapper
    - @clinics_show.each do |clinic|
      %article.triple-column
        %i.fa.fa-phone-square
        %h3.sub-heading.contacts
          = clinic.city.name
        %p
          = clinic.contacts.html_safe
  .section-wrapper
    %p.text-center
      Набрав "Телефон доверия" Вы можете проинформировать руководство клиники "Медифаст" о положительных и отрицательных действиях наших сотрудников, выразить свое мнение, а также высказать предложения, способствующие повышению качества предоставляемых услуг. Телефон доверия:
    %p.header-standfirst.text-center
      +38(050)-478-95-30
