%section.main-content-section.share-decisions.footer
  .section-wrapper
    - @clinics_show.each do |clinic|
      %article.triple-column
        %i.fa.fa-phone-square
        %h3.sub-heading.contacts
          = clinic.city.name
        %p
          = clinic.contacts.html_safe
