%section.main.content-section.product#product
  .section-wrapper
    %h1.header-intro.white
      Аптека онлайн
    %p.header-standfirst
      Лекарства с доставкой на дом
    = link_to products_path, class: "red-button" do
      Подробней
      %span.icon.right-icon
